body {
    background-image: url(../images/bg_1.jpg);
    width: 100vw;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #e7668e;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Noto Serif', serif;
    margin-bottom: 0.5em;
}

.lb-data .lb-caption {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    color: #e7668e;
    font-family: 'Noto Serif', serif;
    line-height: 1.25em;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-bot-10 {
    margin-bottom: 10px;
}

.m-bot-15 {
    margin-bottom: 15px;
}

.m-bot-20 {
    margin-bottom: 20px;
}

.container {
    max-width: 980px;
    padding: 1em;
}

.language {
  float: right;
  margin-right: 5rem;
}

.language-choose {
  display: inline-block;
  opacity: 0.4;
  margin-left: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.language-choose:hover, .language-choose.active {
  opacity: 1;
}

.language-choose img {
  width: 60px;
  margin-bottom: 2px;
}

.content {
    position: relative;
}

.content>div {
    padding-top: 160px;
}

.mascot {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: -1;
    width: 300px;
}

.mascot.hand {
    z-index: 0;
}

.content-box {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 1%, rgba(249, 223, 231, 0.8) 100%);
    border: pink 0.6em solid;
    border-radius: 1em;
    min-height: 15vh;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.content-box.change {
    background-image: url(../images/change_off.jpg);
    background-size: cover;
}

.content-box.change:hover {
    background-image: url(../images/change_on.jpg);
}

.content-box.padding-top {
    padding-top: 1em;
}

.content-box.padding {
    padding: 1em;
}

#sidebar,
.banner {
    position: relative;
}

#sidebar .socials {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.banner .socials {
    position: absolute;
    right: 2em;
    top: 2em;
}

.socials a {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: pink 3px solid;
    border-radius: 0.5em;
    width: 40px;
}

#sidebar .sidebar-background {
    background-image: url(../images/character/namir_full_crop.png);
    background-size: cover;
}

.place-holder-img {
    opacity: 0;
}

.white-box {
    background: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.transparent-80 {
    opacity: 0.8;
}

.transparent-60 {
    opacity: 0.6;
}

.center {
    text-align: center;
}

.fluid-force {
    width: 100%;
}

.fluid {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
